*{
 margin: 0%;
 padding: 0%;
}

body{
 font-family: 'Roboto', sans-serif;
}

/* Nav */

.navbar-colour{
  background-color: #28A745;  
}


/* Card */


.card-custom{
  width: 80%;
} 

.card-custom .card-body h5{
  font-weight: 500;
}

.card-custom img{
    height: 90%;
    width: 100%;
}

.co-price .col{
  width: 49%;
  display: inline-block;
}

.co-price .col .text-ancient{
  width: 120%;
}

.co-price .col .text-price{
  width: 90%;
}

.text-ancient{
  color: gray;
  font-size: 16px;
  text-align: right;  
}

.text-price{
  color: green;
  font-size: 20px;
  text-align: right;
}

/* Formulario */

.form-color{
  background-color: #28A745;
  text-align: center;
}


/* Footer */

.footer .img-footer{
 height: 24px;
 width: 82px;   
}

.footer{
  text-align: center;  
}